@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  height: 100vh;
  background: url("https://img.freepik.com/free-photo/retro-living-room-interior-design_53876-145503.jpg?w=740&t=st=1658736372~exp=1658736972~hmac=311c3078c75c077f05413965e0086087aa07936d8a53d305cd8db53f76a2d4f4");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.nav-root {
  /* border: 1px solid red; */
  display: flex;
  height: 80px;
  padding-left: 70px;
  padding-top: 30px;
}

.logo-container {
  width: 30%;
  /* border: 1px solid red; */
}

.logo-container img {
  transform: scale(0.9);
}

.links-container {
  width: 64%;
  display: flex;
  border-bottom: 2px solid white;
  padding-bottom: 3em;
  position: relative;
  flex-wrap: wrap;
}

.links {
  display: flex;
  /* border: 1px solid red; */
  list-style: none;
  height: 100%;
  align-items: center;
  opacity: 0.8;
}

.link a {
  text-decoration: none;
  color: white;
  padding: 1.4em;
  font-weight: bold;
  transition: 0.5s ease;
  display: inline-block;
}

.link a:hover {
  transform: scale(1.2);
}

.contact-container {
  /* padding-left: 2.5em; */
  color: white;
  /* border: 1px solid red; */
  /* padding-bottom: 1em; */
  display: flex;
  position: absolute;
  right: 0;
  bottom: 20px;
  font-weight: bold;
  opacity: 0.8;
}

.contact-container img {
  margin-top: 6px;
  margin-right: 6px;
}

.row-1 {
  width: 100%;
  margin-top: 120px;
  display: flex;
}

.row-1-col-1 {
  /* display: inline-block; */
  width: 65%;
}

.row-1-col-1 h4 {
  width: 85%;
  /* border: 1px solid blue; */
  font-size: 64px;
  color: white;
  margin-left: 100px;
  letter-spacing: 1.25px;
}

.row-1-col-2 {
  /* border: 1px solid red; */
  margin-top: -70px;
  margin-left: auto;
  margin-right: 5%;
  position: relative;
}

.row-1-col-2::after {
  content: "";
  display: inline-block;
  height: 2px;
  width: 100px;
  background-color: rgb(255, 255, 255, 0.8);
  position: absolute;
  transform: rotate(90deg);
  right: 0;
  z-index: -2;
}

.row-1-col-2 .card1::after {
  content: "";
  display: inline-block;
  height: 20px;
  width: 20px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  right: 40px;
  bottom: 2px;
}

.asset-div {
  max-width: 280px;
  /* border: 1px solid red; */
  background: rgb(48, 69, 86);
  padding: 20px;
}

.description {
  color: white;
  padding-top: 8px;
  font-weight: bold;
  letter-spacing: 0.35px;
}

.row-2 {
  width: 100%;
  /* border: 1px solid red; */
  display: flex;
}

.row-2-col-1 {
  width: 40%;
  margin-left: 70px;
  /* border: 1px solid blue; */
  padding-top: 3.5em;
}

.row-2-col-1 button {
  width: 230px;
  height: 60px;
  background-color: transparent;
  font-weight: bold;
  border-radius: 30px;
  padding: 10px 30px;
  color: #fff;
  border: 2px solid #fff;
  font-size: 25px;
}

.row-2-col-2 {
  width: 50%;
  padding-top: 4em;
  margin-left: 30px;
  /* border: 1px solid red; */
  position: relative;
}

.row-2-col-2::after {
  content: "";
  display: inline-block;
  height: 2px;
  width: 100px;
  background-color: rgb(255, 255, 255, 0.8);
  position: absolute;
  top: 45%;
  left: 240px;
  z-index: -2;
}

.row-2-col-2 .card2::after {
  content: "";
  display: inline-block;
  height: 20px;
  width: 20px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: 41%;
  left: 330px;
}

button:hover {
  cursor: pointer;
}

.nav-sm {
  display: none;
}

#mySidenav {
  width: 100%;
  display: none;
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: black;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
@media screen and (max-width: 1200px) {
  .row-1-col-1 h4 {
    font-size: 56px;
  }
}

@media screen and (max-width: 960px) {
  .nav-root {
    display: none;
  }
  .nav-sm {
    display: block;
    padding-left: 10px;
  }
  .row-1-col-1 h4 {
    font-size: 48px;
  }
}

@media only screen and (max-width: 768px) {
  .row-1 {
    flex-direction: column;
    margin-top: 40px;
    margin-bottom: 60px;
  }
  .row-2 {
    flex-direction: column;
  }
  .row-1-col-1 {
    width: 100%;
  }
  .row-1-col-2 {
    width: 100%;
    border: 1p solid black;
  }
  .row-1-col-1 h4 {
    width: 100%;
    padding: 10px 0px;
    font-size: 22px;
    color: white;
    letter-spacing: 1.05px;
    margin: 0;
    text-align: center;
  }
  .row-1-col-2 {
    margin: 0;
  }
  .row-2-col-1 {
    margin: 0 auto;
    width: 50%;
    padding-top: 2em;
  }
  .row-2-col-2 {
    margin: 0 auto;
    width: 100%;
  }
  .row-2-col-1 button {
    width: 180px;
    height: 40px;
    background-color: transparent;
    font-weight: bold;
    border-radius: 30px;
    padding: 5px 15px;
    color: #fff;
    border: 2px solid #fff;
    font-size: 18px;
  }
  .asset-div {
    max-width: 320px;
    margin: 0 auto;
  }
  .row-1-col-2::after {
    display: none;
  }
  .row-1-col-2 .card1::after {
    display: none;
  }
  .row-2-col-2 .card2::after {
    display: none;
  }
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
