@import url("https://fonts.googleapis.com/css2?family=Karma:wght@400;600;700&family=Merriweather:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --ff-karma: "Karma", serif;
  --ff-merri: "Merriweather", serif;
  --cl-primary-white: #f5f2f0;
  --cl-primary-dark: #333333;
}

body {
  background-color: var(--cl-primary-white);
  color: var(--cl-primary-dark);
  font-family: var(--ff-karma);
}

.container {
  display: flex;
}

.container-sm {
  display: none;
}

.image-group {
  position: sticky;
  top: 0;
  left: 0;
  height: 100vh;
}

.logo {
  height: 40px;
  position: absolute;
  top: 40px;
  left: 40px;
  z-index: 1;
}

.right-container {
  position: relative;
  width: 100%;
  padding: 0 40px;
}

header {
  display: flex;
  align-items: center;
}

nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-left: 40px;
}

header .line {
  background-color: var(--cl-primary-dark);
  height: 2px;
  width: 400px;
}

nav ul {
  width: 100%;
  display: flex;
  margin: 40px 0;
  justify-content: space-between;
}

nav li {
  list-style: none;
  font-weight: 400;
  font-size: 1em;
}

nav li:hover {
  cursor: pointer;
}

.title-container {
  display: flex;
}

.title-container h1 {
  display: flex;
  flex-direction: column;
  font-weight: 700;
  font-size: 5em;
  line-height: 1em;
}

.title-container .stroke {
  /* color: var(--cl-primary-dark); */
  -webkit-text-fill-color: var(--cl-primary-white);
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: var(--cl-primary-dark);
}

.title-container .filled {
  margin-left: 90px;
}

.package {
  padding: 0 60px;
}

.sub-title,
.sub-title-sm {
  display: inline-block;
  margin-top: 80px;
  font-weight: 700;
  font-size: 2.5em;
  opacity: 0.6;
}

.sub-title-sm {
  display: none;
}

.btn-package {
  margin-top: 20px;
  padding: 0.5em 3em;
  font-size: 1.1em;
  font-family: inherit;
  font-weight: 600;
  background-color: var(--cl-primary-dark);
  color: var(--cl-primary-white);
  border: none;
}

.btn-package:hover {
  cursor: pointer;
}

.socials {
  position: absolute;
  display: flex;
  gap: 2em;
  flex-direction: column;
  top: 120px;
  right: 40px;
}

.featured-container {
  display: flex;
  margin-top: 60px;
  padding-left: 10px;
}

.list-line {
  margin-top: 37px;
  height: 320px;
  width: 2px;
  background-color: var(--cl-primary-dark);
  opacity: 0.3;
}

.list-items {
  margin-top: 10px;
  margin-left: 7px;
}

.list-items li {
  position: relative;
  list-style: none;
  margin: 20px;
  font-weight: 600;
  opacity: 0.6;
}

.list-items li:nth-child(1) {
  opacity: 1;
}

.list-items li::before {
  content: "";
  position: absolute;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  top: 5px;
  background-color: var(--cl-primary-dark);
  margin-left: -33px;
}

.featured-image {
  padding-left: 40px;
}

.featured-text {
  max-width: 400px;
  color: black;
  font-size: 1em;
  line-height: 1.5em;
  margin-bottom: 20px;
}
.quote::before {
  content: open-quote;
  visibility: hidden;
}
.quote::after {
  content: close-quote;
  display: block;
  font-size: 10em;
  line-height: 0;
  margin-top: 40px;
  margin-bottom: -25px;
}
.arrow {
  transform: scale(0.5);
  margin-left: 15%;
}

@media screen and (max-width: 960px) {
  .container {
    display: none;
  }
  .container-sm {
    display: block;
    padding: 1em;
  }
  .logo {
    position: relative;
    top: 0;
    left: 0;
  }
  .sm-link li {
    text-align: center;
    font-size: 20px;
    margin-bottom: 10px;
    list-style: none;
  }
  .title-container {
    margin: 20px;
  }
  .filled {
    margin-left: 0px;
  }
  .package {
    padding: 0 30px;
  }
  .featured-container {
    justify-content: center;
    overflow-x: hidden;
    padding: 0;
  }
  .sm-quote {
    margin-top: 20px;
    width: 45%;
    margin-left: auto;
    margin-right: auto;
  }
  .socials {
    position: relative;
    top: 40px;
    right: 0;
    flex-direction: row;
    justify-content: space-around;
  }
  .hero-image {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .title-container {
    display: block;
  }
  .title-container h1 {
    display: none;
  }
  .sub-title {
    display: none;
  }
  .sub-title-sm {
    display: block;
    margin-top: 10px;
    text-align: center;
    font-size: 2em;
  }
  .btn-package {
    width: 100%;
    margin-top: 0;
  }
  .package {
    padding: 0 15px;
  }
  .hero-image {
    background-image: url(./assets/pexels-rfstudio-3819572.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    display: block;
    position: relative;
  }
  .hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 3.6em;
    font-weight: bold;
  }
  .sm-quote {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  .btn-package {
    font-size: 0.7em;
  }
}
