@import url("https://fonts.googleapis.com/css2?family=Jost:wght@316;400&family=Open+Sans:wght@300;400&family=Oswald:wght@300&family=Red+Rose:wght@300;400&family=Roboto:wght@100;300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  height: 100vh;
  padding: 10px 0px 0px 5px;
}

header {
  /* border: 1px solid red; */
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  background-color: #5a20cb;
  padding-left: 10%;
  height: auto;
}

nav {
  /* border: 1px solid red; */
  display: flex;
  position: relative;
  top: 30px;
}

.logo-pic img {
  transform: scale(0.6);
}

.links {
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  position: absolute;
  right: 16%;
  height: 100%;
}

.link {
  color: white;
  letter-spacing: 0.35px;
  margin-right: 1.8em;
}

.link:hover {
  cursor: pointer;
}

.active {
  color: #8ac0f1;
}

.hamburger {
  display: none;
}

.btn-blue {
  outline: none;
  background-color: #1b98f5;
  color: white;
  font-size: 16px;
  letter-spacing: 0.35px;
  padding: 10px 24px;
  border: none;
  margin-left: 10px;
  transform: scale(0.9);
}

.heading-section {
  display: flex;
  /* border: 1px solid red; */
}

.left-section {
  width: 50%;
}

.right-section {
  width: 50%;
}

.right-section image {
  width: 100%;
  transform: scale(0.85);
}

.context-wrapper {
  /* border: 1px solid red; */
  padding-top: 7em;
}

.context-wrapper h4 {
  color: white;
  font-size: 44px;
  font-weight: 600;
  letter-spacing: 0.35px;
  line-height: 60px;
  max-width: 360px;
  /* border: 1px solid red; */
  margin-bottom: 0.5em;
}

.context-wrapper p {
  color: #e3ebee;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.35px;
  max-width: 320px;
  /* border: 1px solid red; */
  margin-bottom: 1em;
  opacity: 0.8;
}

/***** description section *****/

#description {
  /* border: 1px solid red; */
  display: flex;
}

.saas-img-container {
  width: 40%;
  /* border: 1px solid blue; */
}

.saas-img-container img {
  transform: scale(0.8);
  width: 100%;
}

.side-aside {
  width: 60%;
  /* border: 1px solid blue; */
  padding-left: 20%;
  padding-top: 110px;
}

.side-aside h4 {
  /* border: 1px solid red; */
  font-weight: 600;
  letter-spacing: 0.25px;
  max-width: 300px;
  font-size: 24px;
  margin-bottom: 2em;
}

.options {
  max-width: 270px;
  padding-left: 20px;
}

.options h6 {
  font-weight: 600;
  letter-spacing: 0.25px;
  /* max-width: 300px; */
  font-size: 16px;
  padding-bottom: 10px;
}

.option {
  position: relative;
}

.arrow1::before {
  content: "";
  position: absolute;
  background-image: url(./assets/share-arrow1.svg);
  display: inline-block;
  height: 15px;
  width: 15px;
  left: -20px;
  top: 3px;
}

.arrow2::before {
  content: "";
  position: absolute;
  background-image: url(./assets/share-arrow2.svg);
  display: inline-block;
  height: 15px;
  width: 15px;
  left: -20px;
  top: 3px;
}

.arrow3::before {
  content: "";
  position: absolute;
  background-image: url(./assets/share-arrow3.svg);
  display: inline-block;
  height: 15px;
  width: 15px;
  left: -20px;
  top: 3px;
}

.options p {
  color: rgb(146, 140, 140);
  font-size: 14px;
  letter-spacing: 0.25px;
  font-weight: normal;
  line-height: 25px;
  padding-bottom: 10px;
}

/***** cards *****/
.feature-heading {
  display: flex;
  justify-content: center;
  /* border: 1px solid red; */
  margin-bottom: 20px;
}

.feature-heading h6 {
  font-weight: 600;
  letter-spacing: 0.25px;
  max-width: 300px;
  font-size: 22px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

.cards {
  width: 70%;
  margin: 0 auto;
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.card {
  text-align: center;
  width: 300px;
  height: 250px;
  background-color: white;
  border-radius: 25px;
  box-shadow: 2px 2px 5px 0 black;
  position: relative;
}

.card:hover {
  cursor: pointer;
}

.card img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  transform: scale(1.5);
  position: absolute;
  top: 30px;
  left: 38%;
}

.info {
  border-radius: 10px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.info span {
  font-size: 16px;
  letter-spacing: 0.25px;
  font-weight: 600;
}

.info p {
  color: rgb(146, 140, 140);
  font-size: 14px;
  letter-spacing: 0.25px;
  font-weight: normal;
  padding-top: grey;
  max-width: 150px;
  margin: 0 auto;
  padding-bottom: 4px;
}

#text-white {
  color: white;
}

.card:first-child .info {
  background-color: #5a20cb;
  color: white;
}

button:hover {
  cursor: pointer;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #182c97;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (min-width: 1040px) {
  #mySidenav {
    display: none;
    background-color: #5a20cb;
  }
}

@media screen and (max-width: 1040px) {
  .cards {
    width: 85%;
  }
  .card img {
    transform: scale(1.2);
  }
  .links {
    display: none;
  }
  .hamburger {
    display: block;
    position: absolute;
    right: 40px;
  }
  header {
    padding-left: 5%;
  }
  .link {
    display: block;
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
  }
  .btn-container {
    display: flex;
    justify-content: center;
  }
  .btn-blue {
    margin-left: -20px;
  }
}

@media screen and (max-width: 900px) {
  header {
    overflow: none;
  }

  .cards {
    width: 85%;
    flex-wrap: wrap;
    justify-content: center;
  }
  .card img {
    left: 40%;
  }
  .saas-img-container img {
    transform: scale(1.2);
    margin-top: 25%;
  }
  .context-wrapper h4 {
    font-size: 34px;
  }
}

@media screen and (max-width: 700px) {
  body {
    padding: 0;
  }
  .saas-img-container img {
    margin-top: 50%;
  }
  .heading-section {
    flex-direction: column;
  }
  .left-section {
    width: 100%;
    padding-left: 30px;
  }
  .right-section {
    width: 100%;
  }
  .right-section img {
    transform: scale(0.8);
  }
  .context-wrapper {
    padding-top: 4em;
  }
}

@media screen and (max-width: 550px) {
  .side-aside {
    padding-left: 10%;
  }
  .context-wrapper h4 {
    font-size: 30px;
    line-height: 44px;
  }
}

@media screen and (max-width: 450px) {
  .saas-img-container img {
    margin-top: 100%;
  }
  .side-aside h4 {
    font-size: 20px;
  }
  .options p {
    line-height: 20px;
    font-size: 13px;
  }
}
